<html>
    <head>
        <title>about</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="sf"><br><br>
         <nav>
        <section>
           <div class="fs">
            <h1>The About page</h1>
           </div>
           <div class="d">
           <p>Travel Tours is the flagship leisure travel brand of FCTG Australia, in India. Known for its range of customized travel offerings, Travel Tours promises 'unbeatable' services both in pricing and quality.<br><br>

            Currently, there are over 25 Travel Tours stores across all leading cities in India Delhi-NCR, Mumbai, Pune, Ahmedabad, Chandigarh, Bangalore, Hyderabad, Cochin, Chennai and Indore among other cities.<br><br>
            
            Travel Tours has been formed by bringing together the erstwhile Travel Tours, a strong brand in South India which has been in existence since 1977 and Flight Shop, well-known in North and West India.</p>
        </div>
         </nav>
        </section>
        </div> 
    </body>
</html>