<html>
<head>
<title> RESUME </title>
</head>
<body>
<center>

</center>
<h1>
<u>RISHIKUMAR I</u>
</h1>
<h5>Emailid:rishikumar.ilangovan@gmail.com</h5>
<h5>Contact:9159088937</h5>
<h3>
<u>CAREER OBJECTIVES</u>
</h3>
To have a growth oriented and challenging career,where I can contribute my knowledge and skills to the organization and enhance my experience through continuous learning and team work.
<h3>
<u>ACADAMIC QUALIFICATION</u>
</h3>
<table border=4 width=700>
<tr>
<th>Course</th>
<th>Institution</th>
<th>Year of passing</th>
<th>Marks/CGPA</th>
</tr>
<tr>
<th>BE/CSE</th>
<th>RVS college of engineering and technology</th>
<th>2021</th>
<th>7.21</th>
</tr>
<tr>
<th>HSC</th>
<th>Milton matric Hr sec school</th>
<th>2017</th>
<th>82.75%</th>
</tr>
<tr>
<th>SSLC</th>
<th>Milton matric Hr sec school</th>
<th>2015</th>
<th>93.6%</th>
</tr>
</table>
<h3>
    <u>AREA OF INTEREST</u>
</h3>
<ul>
    <b>
    <h3>
    <li>Web Development</li>
    <li>Data Structures</li>
    
    </h3>
    </b>
</ul>
<h3>
<u>PROFFESSIONAL PROFICIENCY</u>
</h3>
<ul>
    <b>
    <h3>
    <li>Language: python</li>
    <li>Web Tchnology: html,css,js</li>
    <li>Database: mysql</li>
    </h3>
    </b>
</ul>
<h3>
    <u>INTERPERSONAL SKILLS</u>
</h3>
<ul>
    <b>
    <h3>
    <li>Team Management</li>
    <li>Team Leadership</li>
    
    </h3>
    </b>
</ul>
<h3>
<u>WORKSHOP AND INTERNSHIPS</u>
</h3>
<ul>
    <b>
    <li>Presented a paper on HACTHON regarding displaying the benefits of Food and Agriculture government of India</li>
    <li>Attend workshop on INDUSTRY 4.0 in CIT college. </li>
   
    </b>
</ul>
<h3>
    <u>PERSONAL INFORMATION</u>
    </h3>
    <ul>
         <b>
         <li>            Name:RISHIKUMAR I</li>
         <li>             DOB:22-03-2000</li>
         <li>   Father's Name:Ilangovan.S</li>
         <li>   Mother's Name:Indira.I</li>
         <li>         Address:16,New Burma Colony,NondiKovilPatti,Melur,Madurai.</li>
         <li>Language's Known:English,Tamil.</li>
         <li>         Hobbies:Reading Books,Playing Games.</li>
         </b>
    </ul>
    <h3>
    <u>DECLARATION</u>
    </h3>
    <b>Hereby I declare that the information contsined above is true to the best of my knowledge.</b>
    <br>
<br>
<b>Place:Coimbatore:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Your's Sincerly,</b>
<br>
<b>Date:
</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Rishikumar.I</b>
<center>
<a href="intro.html">Home</a>
</body>
</html>