<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width",initial-scale=1.0">
    <head><title>home</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/all.min.css">
    </head>
    <body>
        <div class="demo">
            <section class="contact">
                <div class="content">
                    <h1>Contact us</h1>
                    <p>If you have any queries about plan or trip,please contact us we given the no ,email ID, and address below. </p>
                </div>
                <div class="container">
                    <div class="contactInfo">
                        <div class="boxx">
                            <div class="iconn"><i class="fa fa-map-marker"></i></div>
                            <div class="text">
                                <h2>Address</h2>
                                <p>34,Abc colony,<br>Melur,<br>Madurai.</p>
                            </div>
                        </div>
                        <div class="boxx">
                            <div class="iconn"><i class="fa fa-phone"></i></div>
                            <div class="text">
                                <h2>Phone</h2>
                                <p>9876543210</p>
                            </div>
                        </div>
                        <div class="boxx">
                            <div class="iconn"><i class="far fa-envelope"></i></div>
                            <div class="text">
                                <h2>Email</h2>
                                <p>Tripmakers@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="contactForm">
                        <form>
                            <h2>Send Message</h2>
                            <div class="inputbox">
                                <input type="text" name="" required="required">
                                <span>Full Name</span>
                            </div>
                            <div class="inputbox">
                                <input type="text" name="" required="required">
                                <span>Email</span>
                            </div>
                            <div class="inputbox">
                               <textarea required="required"></textarea>
                                <span>Type your Message...</span>
                            </div>
                            <div class="inputbox">
                                <input type="submit" name="" value="send">
                        </form>
                        
                    </div>
                </div>
            </section>

        </div>
    </body>
</html>