<!DOCTYPE html>
<html>

<head>
    <title>webpage</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="bg">
        <nav>
            <div class="name">
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Login.html">Login</a></li>
                    <li><a href="Register.html">Register</a></li>
                    
                </ul>

            </div>
            
            <h1>TRIPMAKERS</h1>
        </nav>
    </div>
</body>

</html>