<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
    
  </head>
  <body>
    <div class="reg">
      <nav>
        <div class="Register">
            <h1>REGISTRATION FORM</h1>
          <form id="Register" method="POST">
            <label>Full name:</label><br>
            <div class="box">
               <input type="text" placeholder="Full name" name="" value=""><br><br>
            </div>
            <label>User name:</label><br>
            <div class="box">
              <input type="text" placeholder="User name" name="" value=""><br><br>
           </div>
           <label>Email ID:</label><br>
           <div class="box">
            <input type="email" placeholder="email ID" name="" value=""><br><br>
           </div>
           <label>Password:</label><br>
            <div class="box">
              <input type="password" placeholder="password" name="" value=""><br><br>
            </div>
          </form>
          <div class="re1">
            
            <form action="Login.html">
              <input class="bttn" type="submit" name="" value="Register">
            </form>
         
          </div>
          
         </div>
       </nav>
    </div>
  </body>
  
</html>